h1 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

table {
    margin: auto;
}

td {
    width:200px;
    height: 400px;
    border: 6px solid white;
}

#one {
    background-color: #FFF7B1;
}

#two {
    background-color: #E36397;
}

#three {
    background-color: #BC8DA7;
}

#four {
    background-color: #BDB4BF;
}

#five {
    background-color: #EFF2EF;
}
